/* 
    Bendy by Blake Williams
    License: http://creativecommons.org/licenses/MIT/
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

a img {border: 0;}

/* Selection Colors */
::selection, ::-moz-selection {
    background: #bcbcbc;
    color: #3e3e3e;
}
img::selection,img::-moz-selection {
    background: transparent;
}

body {
    font: 16px/24px Helvetica, Arial, sans-serif;
    background: #e8e8e8;
    color: #3c3c3c;
    -webkit-tap-highlight-color: #ff5e99;
    -webkit-text-size-adjust: 100%; /* No font adjustment for mobile safari */
}

/* Standard: 898px. 
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      70    162    254    346    438    530    622    714    806    898    */
/* Change body to whatever class/ID you want handling your resizable content */
body {
    width: 898px;
    margin: 10px auto;
}
#wrapper {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 0;
    width: 100%;
}
#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
}
#container h1 {
    margin-bottom: 25px;
    font-size: 56px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}
#content {
    background: #343434;
    /* background: #eb6533; */
    height: 180px;
    padding: 10px;
    -webkit-box-shadow: 0 0px 5px #888;
    -moz-box-shadow: 0 0px 5px #888;
    box-shadow: 0 0px 5px #888;
}
#content h2 {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 26px;
}
#content h3 {
    color: #fff;
    text-shadow: 0 1px 0 #000;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 400;
}
#content h5 {
    color: #fff;
    font-weight: 400;
    text-align: center;
}
h1#bigtext {
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    line-height: 1;
    margin-top: 10px;
    margin-bottom: 5px;
}
/* Tablet: 714px.
Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      70    162    254    346    438    530    622    714    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Change body to whatever class/ID you want handling your resizable content */
    body {
        width: 714px;
    }
}

/* Wide Mobile: 438px.
Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      70    162    254    346    438    */
@media only screen and (max-width: 767px) {
    /* Change body to whatever class/ID you want handling your resizable content */
    body {
        width: 438px;
        padding-top: 20px;
    }
    #wrapper {
        position: static;
        margin: 0;
    }
    #content {
        padding: 5px;
        width: 438px;
    }
    #container {
        width: 438px;
    }
    #container h1 {
        font-size: 36px;
    }
    #content h2 { font-size: 20px; }
    #content h3 { font-size: 16px; }
    h1#bigtext { font-size: 60px;}

}

/* Mobile Layout: 254px.
Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      70    162    254    */
@media only screen and (max-width: 479px) {
    /* Change body to whatever class/ID you want handling your resizable content */
    body {
        width: 254px;
    }
    #content {
        height: 200px;
        width: 244px;
    }
    #container {
        width: 254px;
    }
}

